/*Font family*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$ch-body-font-family: 'Roboto', sans-serif;
$ch-body-font-size: 13px;

/*Colors variables*/
// Theme color
$theme-color: #0377ff;
// Gray
$gray: #969391;
// Dark gray
$dark-gray: #545454;
// Light gray
$light-gray: #3a3c4c;
//space gray
$space-gray: #999999;
//Gray shade
$gray-shade: #4a505a;
// White color
$white-color: #ffffff;
// Off white
$off-white: #fafafa;
// light white
$light-white: #f5f5f5;
//Black
$black: #000000;


/*Apps colors and font sizes*/
$ch-title-color: $dark-gray;
$ch-title-fontsize: 14px;

$ch-subtitle-color: $light-gray;
$ch-subtitle-fontsize: 12px;

$ch-app-icon-color: $gray-shade;
$ch-app-icon-fontsize: 20px;

$ch-status-color: $gray;
$ch-status-fontsize: 10px;

/*Recent screen*/
$ch-recent-conversation-header-bg-color: $white-color;
$ch-recent-conversation-header-font-icon-color: $space-gray;
$ch-recent-conversation-header-font-icon-hover-color: $black;
$ch-recent-conversation-list-color: $white-color;
$ch-recent-conversation-list-hover-color: $off-white;
$ch-recent-conversation-list-title-color: $gray-shade;
$ch-recent-conversation-list-content-color: $light-gray;

$ch-recent-bg: $white-color;
$ch-recent-width: 42%;

/*App header color*/
$ch-appheader-bg: $white-color;

/*Conversation screen*/
$ch-conversation-window-header-bg-color: $white-color;
$ch-recent-conversation-header-font-icon-color: $space-gray;
$ch-recent-conversation-header-font-icon-hover-color: $black;

$ch-conversation-window-user-msg-bg-color: $theme-color;
$ch-conversation-window-user-msg-color: $white-color;

$ch-conversation-window-msg-bg-color: $light-white;
$ch-conversation-window-msg-color: $dark-gray;

$ch-conversation-window-composer-bg-color: $white-color;
$ch-conversation-window-composer-text-color: $dark-gray;
$ch-conversation-window-composer-font-icon-color: $theme-color;
$ch-conversation-window-composer-font-icon-hover-color: $black;

$ch-conversation-window-msg-owner-color: $dark-gray;

$ch-conversation-window-bg-color: $white-color;
$ch-conversation-width: 42%;


/*App recent screen position*/
$ch-recent-top-position: 35%;
$ch-recent-bottom-position: 0;
$ch-recent-right-position: 1%;

/*App Conversation screen position*/
$ch-conv-top-position: 35%;
$ch-conv-bottom-position: 0;
$ch-conv-right-position: 44%;


/*ch-launcher*/
$ch-launcher-bottom-position: 3%;
$ch-launcher-right-position: 1%;
$ch-launcher-height: 55px;
$ch-launcher-width: 55px;
$ch-launcher-bg-color: $theme-color;
$ch-launcher-border-radius: 50%;